.landingButton
{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; 
    font-size: 24px; font-style: normal;
    font-variant: normal; 
    font-weight: 500;
    line-height: 26.4px; 
    border:none;
    background-color:#FF99E5;
    padding:5px;
    border-radius: 20px;
    cursor: pointer;
    z-index: 100000!important;
    transition: 0.3s;
    
}

.pickButton
{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; 
    font-size: 24px; font-style: normal;
    color:#FF00C0;
    font-variant: normal; 
    font-weight: 500;
    line-height: 26.4px; 
    border:none;
    background-color:transparent;
    padding:5px;
    border-radius: 20px;
     
    z-index: 100000 ;

    
}

.landingButton:hover {
  background-color:#FF00C0 ;
  transform: scale(1.1);;
}

.three-canvas-container {
  background-color: white;
  height: 100vh;
  width: 100%;
  position: relative;
  transition: 0.4s;
}

.videoBox{
  /* border:purple solid 2px; */
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  margin:auto;
  pointer-events: none;
  
   
 
}

.canvasElement{
  /* border:green solid 2px; */
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  margin:auto;
  pointer-events: none;
 
   

}